@font-face {
    font-family: "Nunito-SemiBold";
    src: url(..//fonts/Nunito-SemiBold.ttf),
         url(..//fonts/Nunito-SemiBold.woff);
    font-style: normal;
    font-weight: 600;
}
:root {
    font-size: 16px;
    --title-f-f: "Nunito-SemiBold";
    --text-c: rgba(255, 255, 255, 0.7);
}
.wrapper {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
/* Секция header */
.header {
    position: absolute;
    top: 5%;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 5;
}
.header__inner {
    display: flex;
    justify-content: space-between;
}
.logo__link {
    display: block;
}
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none; 
}
.menu__item + .menu__item {
    margin-left: 2em;
}
.menu__item {
    position: relative;
}
.menu__item:after {
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    transform: translate(0,30px);
    width: 0;
    height: 3px;
    background-color: rgb(255, 255, 255);
     transition: 0.5s;
}
.menu__item:hover:after {
    width: 100%;
}
.menu__link {
    text-decoration: none;
    font-family: var(--title-f-f);
    font-size: 1.2rem;
    color: var(--text-c);
    transition: 0.5s;
}
.menu__item:hover:after {
    width: 100%;
}
.menu__item:hover .menu__link {
    color: rgb(255, 255, 255);
}
/* Конец секции header */
/* Главный экран */
.hero {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}
.video-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}
.main-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
}
.main-content__inner {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.time {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 3.5em;
    margin-left: 1em;
}
.time__item {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-family: var(--title-f-f);
    text-align: center;
    position: relative;
}
.time__item:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 50%;
    background-color: rgb(40 32 32);
    width: 100px;
    height: 100px;
    z-index: -1;
}
.time__item:after {
    content: ":";
    position: absolute;
    top: 50%;
    left: 190%;
    transform: translate(-15%,-50%);
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.time__item:last-child:after {
    display: none;
}
.time__item + .time__item {
    margin-left: 2.5em;
}
.time__name {
    display: block;
    font-size: 0.7rem;
    margin-top: 0.3em;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
}
.main__title {
    font-family: var(--title-f-f);
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 0.5em;
    color: rgb(255, 255, 255);
}
.main__text {
    color: rgba(255, 255, 255, 0.7);
    font-family: var(--title-f-f);
    font-size: 1.2rem;
}
/* Меню с продуктами на главном экране */
.product-menu {
    display: flex;
    justify-content: center;
    width: 100%;
    list-style-type: none;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,0);
}
.product-menu__item {
    position: relative;
    left: 0;
    top: 0;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 25%;
    min-width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-radius 0.5s, background-color 1s;
}
.product-menu__item:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    width: auto;
    left: 0;
}
.product-menu__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 1s;
}
.product-menu__item + .product-menu__item {
    margin-left: 1em;
}
.product-menu__item:hover .product-menu__name {
    width: 100%;
    opacity: 1;
    margin-right: 0.3em;
}
.product-menu__link {
    color: rgb(239, 62, 51);
    font-size: 1.2rem;
    text-decoration: none;
}
.product-menu__name {
    opacity: 0;
    width: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
}
.product-submenu {
    display: none;
}
/* Конец экране меню с продуктами на главном */
/* Конец главного экрана */